<div class="md-col-12">	
	<section class="main-content">
		<h1>Contact Me</h1>

		<h2>Home Address</h2>
		<p>
		  2211 Hillsborough Road
		  <br>
		  Apt 1032
		  <br>
		  Durham, NC 27705
		</p>

		<h2>Personal Information</h2>
		<p>
		Mobile: 301.325.1626
		<br>
		<a href="mailto:joel.bergstein@gmail.com">joel.bergstein@gmail.com</a>
		</p>

		<h2>Social Media</h2>
		<p>
		<a href="https://www.linkedin.com/in/joelbergstein">https://www.linkedin.com/in/joelbergstein</a>
		<br><br>
		<a href="https://about.me/joel_bergstein">https://about.me/joel_bergstein</a>
		<br><br>
		<a href="https://www.facebook.com/joel.bergstein">https://www.facebook.com/joel.bergstein</a>	
		</p>
	</section>
</div>

