<h1>This is the landing page for my first Rails App!</h1>
<p>Welcome! The date and time is <%= Time.now %></p>

<a href="static_pages/about">About This Project</a>
<br>
<a href="static_pages/contact">Contact Me</a>