// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-text {
	text-align: center;
}

.new-product {
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	border-radius: 15px;
}

.btn-color {
	color: white;
}

.wrap-text {
	word-wrap: break-word;
}

.product-table {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: grey;
}

.product-cell {
	margin: 6px 0;
	padding: 1px 15px;
}